*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body{
  width: 80%;
  margin: auto;
  border: 1px solid black;
  background: pink;
}
h1{
  color:green;
  text-align: center;
}

p{
  color:black;
  font-size: 13pt;
  width: 250px;
  text-align: justify;
  float: left;
  margin:50px;
  background-color: gray;
  padding: 10px;

}
article > p{
  color:black;
}
